{% extends "base.html" %}

    {% block content %}
        <br><br>
            <h1 style="text-align:center">All Blogs</h1>
            {% if blogs|length == 0 %}
            <p>No Blogs Yet</p>
            {% else %}
                <ul style="list-style-type:none">
                    {% for blog in blogs %}
                    <li><h2><a href='http://localhost:5000/display?blog-id={{blog.id}}'>{{blog.title}}</a></h2>
                        <h3>{{blog.body}}</h3>
                        <h4><em>written by </em><a href='http://localhost:5000/blog?owner={{blog.owner.id}}'>{{blog.owner.username}}</a></h4>
                        <br><br>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %} 

    {% endblock %}
    